img{max-width:100%;}
body{ 
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
font-size:14px;
line-height:20px;
}


#maincontent
{
max-width:42em;margin:15 auto;
    
}
